.delete {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: #686868;
  right: 3%;
}

.delete:hover {
  color: #f89346;
}
